$color1: rgb(74, 159, 174);
$color2: rgb(72, 210, 146);
$color3: rgb(244, 22, 22);

html {
  height: 100%;
}
body {
  background-repeat: no-repeat;
  background: linear-gradient(to bottom, #8dafd8, rgb(48, 106, 167));
}

.winner {
  color: rgb(3, 240, 3);
}

.scoreboard {
  color: white;
  text-align: center;
  font-size: 8em;
}

.rules {
  text-align: center;
  font-size: 2em;
}

.inbox {
  font-size: 2em;
  width: 100%;
  height: 150%;
  box-shadow: 10px, 10px, 8px, #888888;
}

.playerinput {
  padding-top: 0px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p1style {
  font-size: 150%;
  border-radius: 10px 50px 10px;
  width: 185px;
  height: 185px;
  color: white;
  border-color: $color1;
  background-color: lighten($color1, 10%);
}
.p1style:hover {
  background-color: $color1;
  color: white;
}

.p2style {
  font-size: 150%;
  border-radius: 10px 60px 10px;
  width: 185px;
  height: 185px;
  color: white;
  border-color: $color2;
  background-color: lighten($color2, 20%);
}
.p2style:hover {
  background-color: $color2;
  color: white;
}

.resetstyle {
  font-size: 130%;
  margin-top: 40px;
  width: 325px;
  color: white;
  border-color: $color3;
  background-color: lighten($color3, 10%);
  box-shadow: 5px, 100px, 8px, 0px, #888888;
}
.resetstyle:hover {
  background-color: $color3;
  color: white;
}
